@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
  
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 50px;
  width: 90px;
  
}

.panel h3 {
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  color:white;
  position: relative;
}

.panel.active {
  width: 100%;
  transition: width 1s ease-in;

  
  
}

.panel.active h3 {
  opacity: 7;
}

@media (max-width: 480px) {
  .container {
    display: flex;
    width: 480px;


  }


  .panel:nth-of-type(n+4) {
    display: none;
  }
}
